.section--home {
  min-height: 100svh;
  display: grid;
  align-items: center;
}

/* section - about */
.section--about, .section__container {
  display: grid;
  gap: 1rem;
}

.section__intro {
  display: grid;
  gap: 7px;
}

