.section--home {
  min-height: 100svh;
  display: grid;
  align-items: center;
}

/* section - about */
.section--about, .section__container {
  display: grid;
  gap: 1rem;
}

.section__intro {
  display: grid;
  gap: 7px;
}

/* section - stack */
.stack {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  gap: 1px;
  background-color: var(--border);
}
