/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.section {
  border-bottom: 1px solid var(--border);
}

/* home section */
.section__grid-pattern {
  position: absolute;
  inset: 0;
  background-image: 
  linear-gradient(var(--border) 1px, transparent 1px),
  linear-gradient(90deg, var(--border) 1px, transparent 1px);
  background-size: 80px 80px;
  mask-image: radial-gradient(ellipse 70% 60% at 80% 50%, black 0%, transparent 80%);
  z-index: -1;
  pointer-events: none;
}

.section__grid-glow {
  position: absolute;
  width: 260px;
  height: 260px;
  right: 0%;
  top: 10%;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  background: radial-gradient(circle, rgba(181, 123, 255, 0.13) 0%, transparent 70%);
}

.section__title-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-self: center;
  gap: 1.5rem;
}

.section__scroll {
  display: none;
}

/* about section */
.section--about {
  padding-block: 4rem;
}

.section__title-secondary span {
  display: block;
}

.section__stat {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  gap: 2px;
  border-bottom: 1px solid var(--border);
  padding-block: 1rem;
  margin-block: 0.5rem;

}

/* tech stack - section */
.section--stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  gap: 1.5rem;
}

.section__title-secondary .section__accent--linear {
  display: inline;
}

/* section - projects */
.section--projects {
  padding-block: 4rem;
}

/* section - contact */
.section--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 4rem;
}

.section__intro {
  margin-bottom: 1rem;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section__email {
    border-bottom: 2px solid var(--accent);
  padding-bottom: 0.5rem;
}

