/* element transitions */
.stack__item {
  transition: all 0.3s ease;
}

.work__item {
  transition: all 0.3s ease;
}

.header {
  transition: all 0.3s ease;
}

.header__link {
  transition: all 0.3s ease;
}

.header__link::after {
  transition: transform 0.4s ease;
}

.header__toggle-sidebar span {
  transition: all 0.3s ease;
}

.sidebar__link {
  transition: color 0.3s ease;
}

.sidebar {
  transition: transform 0.4s ease;
}

.btn {
  transition: all 0.3s ease;
}

@media (min-width: 600px) {
  .work__item {
    transition: all 0.5s ease;
  }
}