/* section - stack */
.stack__item {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.4rem 1.25rem;
  background-color: var(--bg);
  transition: all 0.3s ease;
}

.stack__item:hover {
  background-color: transparent;
  .stack__indicator {
    background-color: var(--accent);
  }
}


/* works - projects */
.work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

.work__item {
  display: flex;
  width: 100%;
  border-block: 1px solid var(--border);
  padding-block: 1.5rem;
  gap: 1rem;
  transition: all 0.3s ease;
}

.work__content {
  min-width: 80%;
  display: grid;
  gap: 0.3rem;
}

.work__tags {
  display: flex;
  margin-top: 0.4rem;
  gap: 0.4rem;
}

.work__tag {
  padding: 1px 10px;
  text-align: center;
  border: 1px solid var(--border);
}

@media (min-width: 600px) {
  .work__item {
    padding-block: 2.5rem;
    justify-content: space-between;
    transition: all 0.5s ease;
  }

  .work__index-text{
    font-size: 0.8rem;
  }

  .work__link-arrow {
    opacity: 0;
          font-size: 1.5rem;
  }

    .work__item:hover {
      background-color: rgba(181, 123, 255, 0.03);

    .work__link-arrow {
      opacity: 1;

    }
  }


}