/* home tag */
.section__tag {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.section__tag::before {
  content: '';
  width: 24px;
  height: 1px;
  background-color: var(--accent);  
}

.section__label {
  font-style: italic;
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  color: var(--muted-2);
}