/* section tag layout / decoration */
.section__tag {
  display      : inline-flex;
  gap          : var(--space-3);
  align-items  : center;
  margin-bottom: var(--space-5);
}

.section__tag::before {
  content         : '';
  width           : 23px;
  height          : 1px;
  background-color: var(--accent);
  opacity         : 0.5;
}

@media (min-width: 600px) {
  .section__tag {
    margin-bottom: var(--space-9);
  }
}