/* home tag */
.section__tag {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.section__tag::before {
  content: '';
  width: 23px;
  height: 1px;
  background-color: var(--accent); 
  opacity: 0.5;
}

@media (min-width: 600px) {
  .section__tag {
    margin-bottom: 2rem;
  }
}