/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* webkit scroll */
::-webkit-scrollbar {
  display: none;
}

/* remove default margins */
* {
  margin: 0;
  padding: 0;
}

/* html & body */
html, body {
  cursor: none;

}

html {
  scroll-behavior: smooth;
    scrollbar-width: none;

}

body {
  min-width: 320px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
    -ms-overflow-style: none;

}

/* media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* buttons */
button {
  cursor: pointer;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* lists */
ul,
ol {
  list-style: none;
}

/* tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* focus */
:focus {
  outline: none;
}