@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Mono:wght@300;400;500&display=swap');

body {
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1.7;
  color: var(--text);
  background: var(--bg);
}

.header__logo-text {
  font-family: var(--font-display);
  font-weight: 800;
}

/* tags */
.section__tag {
  color: var(--accent);
  font-size: clamp(0.5rem, 1.6vw, 0.7rem);
  letter-spacing: 1.5px;
}

/* labels */
.section__label {
  font-style: italic;
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  color: var(--muted-2);
}

/* accent text */
.section__accent {
  color: var(--accent);
}

/* text highlights */
.text--highlight {
  color: #ffffff;
}
/* home title */
.section__title-primary {
  font-family: var(--font-display);
  line-height: 0.95;
  font-weight: 800;
  font-size:  clamp(2.1rem, 8.5vw, 6rem);
}

.section__title-line--secondary {
  color: var(--muted-2)
}

.section__title-line--dot {
  color: var(--accent);
}

/* home desc */
.section__text--primary {
  font-size: clamp(0.5rem, 2.1vw, 1rem);
  color: var(--muted);
}

/* scroll hint */
.section__scroll-text {
  color: var(--muted-2);
  letter-spacing: 1.5px;
}

/* about section */
.section__title-secondary {
  font-family: var(--font-display);
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 1;
}

.section__text--secondary {
  font-size: clamp(0.75rem, 2vw, 1rem);
  margin-block: 1rem;
    color: var(--muted);

}

.section__stat {
  line-height: 1.7;
}

.section__stat-label {
  color: var(--muted-2);
  font-size: clamp(0.55rem, 1.4vw, 1.5rem);
  letter-spacing: 1.5px;
}

.section__stat-value {
  font-family: var(--font-display);
  font-size: clamp(0.9rem, 2.8vw, 1.3rem);
  font-weight: 700;
}

.section__stat-value--large {
  font-size: clamp(1.4rem, 3.5vw, 2.5rem);
}

.section__stat-suffix {
  font-size: clamp(0.5rem, 2vw, 0.9rem);
  color: var(--accent);
}

/* stack items */
.stack__indicator {
  width: 5px;
  height: 5px;
  background-color: var(--muted-2);
  border-radius: 50%;
}

.stack__name {
  font-size: clamp(0.8rem, 1vw, 2rem);
}

.stack__level {
  color: var(--muted);
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  font-style: italic;
}

.section__note {
  font-size: clamp(0.7rem, 2.1vw, 0.8rem);
  font-style: italic;
  color: var(--muted-2);
}

/* works - projects */
.work__index-text {
  font-family: var(--font-display);
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  color: var(--muted-2);
}

.work__title {
  font-family: var(--font-display);
  font-size: clamp(0.9rem, 2.4vw, 2.5rem);
}

.work__desc {
  color: var(--muted);
  font-size: clamp(0.7rem, 1.5vw, 1.4rem);
}

.work__tag {
  font-size: clamp(0.5rem, 2vw, 0.7rem);
  color: var(--muted);
}

.work__link-arrow {
  color: var(--muted-2);
}

/* section - contact */
.section--contact .section__text--secondary {
  max-width: 41ch;
}

.section__email--text {
  font-family: var(--font-display);
  font-size: clamp(1.1rem, 3vw, 3rem);
}

.section__social-link {
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  color: var(--muted);
}

/* footer */
.footer__text {
  font-size: clamp(0.6rem, 1vw, 1rem);
  color: var(--muted-2);
}

.footer__highlight {
  color: var(--accent);
}

@media (min-width: 600px) {
  .section__text--primary {
    width: 50ch;
  }

  .section--contact .section__text--secondary {
    margin-bottom: 1.5rem;
  }
  
  .work__item:hover {
    .work__index-text, .work__link-arrow, .work__tag {
      color: var(--accent-soft);
    }
  }
}